/*

Add styles or override variables from the theme here.

*/
$primary: #30638e;
.td-navbar-cover {
  background: transparent !important;

  .nav-link,
  .navbar-brand,
  .navbar-brand__name {
    color: white !important;
  }
}
.td-navbar:not(.td-navbar-cover) {
  background-color: $primary !important;
}